#### In python everything is an object and whenever we initialize an object is created with its value, id and type

In [ ]:
#3 is a number which is being store in a variable "a"
a = 3
id(a), type(a), a

(140001350370496, int, 3)

Above we got the id of a, type of a and value of a

### Data Types

#### 1. Integers

In [ ]:
#initializing variables with integers
a = 14
b = 3
c = 100
d = -6700
e = 0

In [ ]:
type(c)

int

In [ ]:
a + b, a - b, a * c, a/b

(17, 11, 1400, 4.666666666666667)

In [ ]:
#Task

#Create 3 integers and perform different operations (Addidtion, subtraction, multiplication and division)

#### 2. Booleans

In python, True and False are two keywords used to represent truth value.

In [ ]:
False

False

In [ ]:
int(True), int(False)

(1, 0)

In [ ]:
type(True)

bool

In [ ]:
not True

False

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False or False

False

In [ ]:
False or True

True

#### 3. Real Numbers

In [ ]:
pi = 3.1410874937
radius = 3.2


area = pi * (radius **2)

area, id(area), type(area)

(32.16473593548801, 140709193168176, float)

#### 4. Strings/Characters

In [ ]:
str1 = 'We are learning python basics'
str2 = "Python is an interpreted language"
str3 = '''I like python'''

In [ ]:
str3, id(str3), type(str3)

('I like python', 140709193229296, str)

In [ ]:
#length of a string including whitespaces
len(str1)

29

#### 5. Tuples

Immutable sequence type objects

In [ ]:
#initializing an empty tuple
my_first_tuple = ()

In [ ]:
#there is no value yet to the tuple
type(my_first_tuple), id(my_first_tuple)

(tuple, 140709482266704)

In [ ]:
#initialize a non empty tuple. Note we have two integers in a sequence
my_first_tuple = (4, 5)

In [ ]:
type(my_first_tuple), id(my_first_tuple), my_first_tuple

(tuple, 140709328528880, (4, 5))

In [ ]:
#initialize different data types
my_first_tuple = (4, 'python')
my_first_tuple

(4, 'python')

In [ ]:
my_first_tuple = (4, 'python', 9.01000000000000000000000000004)
my_first_tuple

(4, 'python', 9.01)

In [ ]:
#Assigning the first position in your tuple to 5
my_first_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

Since tuple is immutable it wont allow any updates in its value

In [ ]:
#To solve it or initialize the entire variable again
my_first_tuple = (5, 'python', 9.01000000000000000000000000004)
my_first_tuple

(5, 'python', 9.01)

In [ ]:
my_second_tuple = (2, 3, 4, 6, 8, 9, 10)
my_second_tuple

(2, 3, 4, 6, 8, 9, 10)

In [ ]:
#Let me do a search

5 in my_second_tuple

False

In [ ]:
10 in my_second_tuple

True

Exercise : Create a variable of your name, another variable of your age, and another variable about your experience in no of years. Assign it to a tuple.